<h1>
    {{ ( pelicula.id )? 'Editar' : 'Nueva' }}
    Pelicula
    <small>{{ pelicula.titulo }}</small> 
</h1>

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">
        
        <div fxLayout="row" 
             fxLayout.xs="column" 
             fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" >
                <mat-label>Titulo</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="pelicula.titulo"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Año de Salida</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="pelicula.anio_salida"
                       required>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Director</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="pelicula.director"
                   required>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Productora</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="pelicula.productora"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personaje Principal</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="pelicula.character_main"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Productora</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="pelicula.character_main"
                   required>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput
                   type="url"
                   [(ngModel)]="pelicula.alt_img"
                   required>
        </mat-form-field>
                
        <mat-form-field>
            <mat-label>Sinopsis</mat-label>
            <textarea matInput type="textarea" [(ngModel)]="pelicula.sinopsis"></textarea>
        </mat-form-field>

        <br>

        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>save</mat-icon>
                {{ ( pelicula.id )? 'Actualizar' : 'Crear' }}
            </button>
        
            <span class="spacer"></span>

            <button *ngIf="pelicula.id"
                    mat-raised-button
                    (click)="borrarPelicula()"
                    color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>

    <div fxFlex="50">
        <img [src]="pelicula | imagen">
    </div>
</div>

