<style>
    @font-face {
        font-family: facebook;
        src: url(../../../assets/ufonts.com_klavika-bold-opentype.otf);
    }
</style>
<h1>REDES SOCIALES</h1>
<mat-card>
    <mat-card-header>
        <mat-card-title class="fb">FACEBOOK</mat-card-title>
        <mat-card-subtitle> Pagína de Capcom </mat-card-subtitle>
    </mat-card-header>

    <img src="../../../assets/peliculas/capcomfacebook.jpg">
    <mat-card-actions>
        <button mat-button 
        color="accent"
        id="btnFace"
         >
        <a href="https://www.facebook.com/CapcomLATAM" target="_blank"> Ir a la Pagína</a>   
        <mat-icon>exit_to_app</mat-icon>
    </button> 
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="in"> INSTAGRAM </mat-card-title>
        <mat-card-subtitle> Instragram de capcom </mat-card-subtitle>
    </mat-card-header>

    <img src="../../../assets/peliculas/capcominsta.jpg">

    <mat-card-actions>
        <button mat-button 
        color="accent"
        id="btnIns"
         >
        <a href="https://www.instagram.com/capcomlatam/?hl=es-la" target="_blank"> Ir a Instagram</a>   
        <mat-icon>exit_to_app</mat-icon>
    </button>        
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title class="tw"> TWITTER </mat-card-title>
        <mat-card-subtitle> Twitter de capcom </mat-card-subtitle>
    </mat-card-header>
    <img src="../../../assets/peliculas/capcomTwitter.jpg">

    <mat-card-actions>
        <button mat-button 
        color="accent"
        id="btnTw"
         >
        <a href="https://twitter.com/CapcomLatam" target="_blank">Ir a Twitter</a>
        <mat-icon>exit_to_app</mat-icon>
    </button>
    </mat-card-actions>
</mat-card>





