<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>    

    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>

    <li>
        <a routerLink="/juegos/listado">
            Ir a Listado de Juegos
        </a>
    </li>

    <li>
        <a routerLink="/peliculas/listado-p">
            Ir a Listado de Peliculas
        </a>
    </li>
    <li>
        <a routerLink="/mapas/fullscreen">
            Ir a Mapa
        </a>
    </li>
</ul>


